h1{
    background-color: royalblue;
    color: white;
    padding: 10px;
}
p{
    background-color: blue;
    color: aliceblue;
    width: 600px;
    border: 10px solid hotpink;
    /* margin-left: 100px;
    margin-top: 200px; */

    /* margin: 100px 200px ; */
    padding: 10px;
    outline: 5px solid gray;
    font-family: cursive;
}
button{
    border: none;
    background-color: rosybrown;
    color: white;
    padding: 10px;
    border-radius: 5px;
}